html, body {
  display: flex;
  justify-content: center;
  background: #000;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  height: 95vh !important;
  width: auto !important;
}